body {
   background-image:url(/Css/imageii.jpeg); 
   background-position:100%;
   background-size:cover;
   background-position:center;
   overflow: hidden;

}
.major{
    border:solid 2px #0b9452;
    margin:10% 25% 25% 30%; 
    padding:35px 20px 35px 50px;
    border-radius:20px;
}
.main {
    border:dotted 2px #9b6a08;
    box-sizing: content-box;
    margin:20% 25% 25% 20%;
    padding:40px 25px 25px 25px;
    border-width:2px;
    border-radius:20px;
    
}

.first h1 {
    border:solid 2px #61068b;
    margin:0 20% 0 20%; 
    text-align: center;
    padding:20px;
    border-radius:20px;
    

}