body {
   background-image:url(/Css/imageii.jpeg); 
   background-position:100%;
   background-size:cover;
}
.major{
    border:solid 2px #2BFC97;
    margin-right:25%;
    margin-left:30%;
    margin-top:25%;
    margin-bottom:25%;
    padding-right:5px;
}
.main {
    border:dotted 2px #FCAE12;
    box-sizing: content-box;
    margin-right:30%;
    margin-left:35%;
    margin-top:30%;
    margin-bottom:30%;
    padding-top:20px;
    border-width:2px;
    
}

.first h1 {
    border:solid 2px #C144FC;
    margin:20%; 
     margin-left:20%;
     /* margin-top:22%; */
     margin-right:20%;
     text-align: center;
     padding:20px;
    

}